@use '../abstracts/mixins';

.controller {
  // layout
  grid-column: 6/8;
  grid-row: 10/11;

  // styling
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.089);
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.18);

  // child layout
  @include mixins.center;
}

@supports (backdrop-filter: blur(12px)) {
  .controller {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
  }
}

@media (max-width: 1200px) {
  .controller {
    grid-column: 1/6;
  }
}
