// puts the child in center
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noHighlight {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
