.joinMeeting {
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .joinMeeting {
    width: 100%;
    height: 50%;
  }
}
